/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1d2021FF;
    background-alt: #121212FF;
    foreground:     #b5a487FF;
    element-selected: rgb(35, 35, 35);
    selected:       rgb(222, 182, 144);
    active:         #89b482FF;
    urgent:         #ea6962FF;
}
